:root {
  margin: 0;
  width: 100vw;
  height: 100vh;

  color: #fff9f5;
  background-color: #1f1524;

  font-family: "Nova Mono", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 100%;
}

h1 {
  font-family: "Nabla", "Nova Mono", monospace;
  font-size: 3em;
  margin: 0;
  text-align: center;
  /* animation-timing-function: linear; */
  /* animation-name: spin; */
  /* animation-duration: 1.5s; */
  /* animation-iteration-count: 1; */
}

h2 {
  margin: 0;
  font-size: 6em;
}

.full {
  font-size: 5em;
}

.input {
  font-size: 1.5em;
  font-family: "Nova Mono", monospace;
  width: 70%;
  margin: auto;

  color: white;
  background-color: transparent;
  border: 1px solid #333333;
  padding: 0 3px;
  border-radius: 5px;
  text-align: center;
}

.placeholder {
  color: #999999;
}

.links {
  position: absolute;
  top: 10px;
  right: 10px;
}

A {
  display: block;
  color: white;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

#center-thingy {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-height: 60vh;
  overflow-y: auto;
  width: 95%;
  max-width: 1000px;
}

#stats-page {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-gap: 10px;
}

.correct {
  background-color: #1d9d28;
}

.incorrect {
  background-color: #89211c;
}

.stats-bar {
  margin-top: 20px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stat {
  /* margin: 20px; */
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  width: 22%;
  transition: background-color 0.2s ease;
}

.stat:hover {
  background-color: #271d2d;
}

.stat-stat {
  color: #33ee92;
}

.records-list {
  border-collapse: collapse;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

th,
td {
  padding: 5px;
  text-align: center;
  width: 25%;
}

th {
  font-weight: bold;
}

tr {
  transition: background-color 0.2s ease;
}

/* tbody tr:hover { */
/*   background-color: #392758; */
/* } */

table {
  width: 100%;
  border: 1px solid #4d4d4d;
}

.delete-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-row:hover {
  background-color: #e61d2d;
}

.text-option {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border: 1px solid #555;
  padding: 2px 5px;
  border-radius: 5px;
}

.text-option:hover {
  text-decoration: underline;
}

.selected {
  background-color: #381a40;
}

#options-page {
  margin: auto;
  margin-top: 30px;
  width: 40em;
}

#options-page div {
  margin: 10px;
}

.input-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin: 20px;
  grid-gap: 10px;
}

.input-buttons > div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
  .input-buttons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .input-buttons > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  h2 {
    font-size: 4em;
  }
  .full {
    font-size: 3em;
  }
  :root {
    font-size: 80%;
  }
}

.input-buttons span {
  display: inline-block;
  background-color: #23243f;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2em;

  cursor: pointer;
  transition: background-color 0.2s ease;
  user-select: none;
}

.input-buttons span:hover {
  background-color: #303366;
}

.github-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.github-link img {
  width: 50px;
  height: auto;
}
