:root {
  margin: 0;
  width: 100vw;
  height: 100vh;

  color: #fff9f5;
  background-color: #1f1524;

  font-family: "Nova Mono", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Nabla", "Nova Mono", monospace;
  font-size: 3em;
  margin: 0;
  text-align: center;
  /* animation-timing-function: linear; */
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

h2 {
  margin: 0;
  font-size: 6em;
}

input {
  font-size: 1.5em;
  font-family: "Nova Mono", monospace;

  color: white;
  background-color: transparent;
  border: 2px solid #373737;
  padding: 0 3px;
  border-radius: 5px;
  text-align: center;
}

.links {
  position: absolute;
  top: 10px;
  right: 10px;
}

A {
  display: block;
  color: white;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

#center-thingy {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-height: 60vh;
  overflow-y: auto;
}

#stats-page {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-gap: 10px;
}

.correct {
  background-color: #1d9d28;
}

.incorrect {
  background-color: #89211c;
}

.stats-bar {
  margin-top: 20px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stat {
  /* margin: 20px; */
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  width: 22%;
  transition: background-color 0.2s ease;
}

.stat:hover {
  background-color: #271d2d;
}

.stat-stat {
  color: #33ee92;
}

.records-list {
  border-collapse: collapse;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

th,
td {
  padding: 5px;
  text-align: center;
  width: 25%;
}

th {
  font-weight: bold;
}

tr {
  transition: background-color 0.2s ease;
}

/* tbody tr:hover { */
/*   background-color: #392758; */
/* } */

table {
  width: 100%;
  border: 1px solid #4d4d4d;
}

.delete-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-row:hover {
  background-color: #e61d2d;
}
